<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dyaln Map</title>

  <!-- favicon -->
  <link rel="shortcut icon" href="static/favicon-96x96.png" type="image/x-icon">
  <link rel="icon" href="static/favicon-96x96.png" type="image/x-icon">

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script>

  <!-- leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
    crossorigin=""></script>

  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Production -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>

  <!-- Title -->
  <section class="hero is-dark is-bold is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Data Mining Dylan
        </h1>
        <h2 class="subtitle">
          Explore Bob Dylan's music with data.
        </h2>
      </div>
    </div>
  </section>

  <!-- MapWidget -->
  <section class="section">
    <div class="container">
      <div class="box">
        
        <!-- MapWidget : Title -->
        <div class="level">
          <div class="level-left">
            <div>
              <h1 class="title">Places</h1>
              <h1 class="subtitle">Which places does Dylan sing about the most?</h1>
            </div>
          </div>
          <div class="level-right">
            <button class="button is-light" id="showModal">
              <span class="icon">
                <i class="fas fa-info-circle"></i>
              </span>
              <span>About</span>
            </button>
          </div>
        </div>

        <div class="columns" id="map-widget">
          <!-- MapWidget : Map -->
          <div class="column is-three-fifths box" id="map"></div>
          <!-- MapWidget : Info -->
          <div class="column" id="info">
            <!-- MapWidget : Info : Place Selector -->
            <div class="field">
              <p class="control has-icons-left is-expanded">
                <span class="select is-fullwidth">
                  <select v-model="currCityId">
                    <option v-for="city in geoData" :value="city.properties.id" :key="city.properties.id">
                      {{ city.properties.name }}, {{ city.properties.cnt }}
                    </option>
                  </select>
                </span>
                <span class="icon is-small is-left">
                  <i class="fas fa-globe"></i>
                </span>
              </p>
            </div>
            <div class="columns is-2">
              <!-- MapWidget : Info : Songs -->
              <div class="column is-two-fifths">
                <div class="field">
                  <label class="label">Songs</label>
                  <div class="control is-size-7">
                    <div class="song-radio" v-for="(song, index) in currCity.songs">
                      <input type="radio" :value="index" :id="'song-radio-' + index" v-model="currSongIdx" />
                      <label :for="'song-radio-' + index" class="radio">{{ song }}</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- MapWidget: Info: Lyrics -->
              <div class="column">
                <label class="label">Lyrics</label>
                <div class="lyricsBox">
                  <p class="is-size-7" v-html="currLyricsHTML"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MapWidget: Modal -->
    <div class="container">
      <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Places: About</p>
            <button class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ex commodi placeat consectetur nulla ab facilis vero earum
            odit aperiam veniam dolor voluptas aut ratione, eaque porro harum nisi aliquam! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Vitae tempora, ullam iure reiciendis et eum atque praesentium magnam ad, odio assumenda culpa,
            soluta tenetur! Quo tempore provident alias fuga modi? Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Labore rerum architecto nam reprehenderit distinctio dolor dignissimos non! Odio quo alias maxime, dignissimos
            aliquid assumenda impedit, vero aspernatur nemo, esse praesentium? Lorem ipsum, dolor sit amet consectetur adipisicing
            elit. Minus at, beatae earum incidunt sunt ducimus architecto inventore natus alias nesciunt possimus recusandae
            quaerat! Perspiciatis, praesentium rerum. Fugit ipsam rerum nesciunt! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Expedita rerum molestiae soluta harum, repudiandae doloremque eos illo. Omnis harum nostrum
            odio velit, quisquam, odit fugit totam, et fugiat esse modi.
          </section>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="level">
      <div class="level-left">
        <p class="level-item">
          Created by Dustin Michels. 2018.
        </p>
        <div class="level-item">
          <a class="button is-small is-text" href="https://github.com/dustinmichels/data-mining-dylan" target="_blank">
            <span class="icon is-small">
              <i class="fab fa-github"></i>
            </span>
            <span>GitHub</span>
          </a>
        </div>
        <div class="level-item">
          <a class="button is-small is-text" href="https://twitter.com/dustin_michels" target="_blank"=>
            <span class="icon is-small">
              <i class="fab fa-twitter"></i>
            </span>
            <span>Twitter</span>
          </a>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item ">
          <a href="https://bulma.io ">
            <img src="static/made-with-bulma.png " alt="Made with Bulma " width="128 " height="24 ">
          </a>
        </div>
      </div>
    </div>
  </footer>

  <script src="script_vue.js "></script>
</body>

</html>