/* #map-widget {
  border: solid black 1px;
} */

#map {
  height: 350px;
  z-index: 1;
  /* border: dashed grey 0.5px; */
}

#info {
  height: auto;
  padding-top: 0;
  /* border: dashed grey 0.5px; */
  /* border: dashed grey 0.5px; */
}

.lyricsBox {
  max-height: 200px;
  overflow: scroll;
}